/API/
/build/
rest_api_test_framework.egg-info/
secrets.env
/venv/
**/__pycache__/
*.pyc
.idea/
.DS_store
*.html
**/.pytest_cache/
*.log
/API/basic-restapi-app/db.sqlite3-shm
/API/basic-restapi-app/db.sqlite3-wal
internal_readme.md
/dist/
